// variables
@sidebarMinWidth: 200px;
@sidebarWidth: 33%;
@textColor: lighten(#909090,10%);
@linkColor: #379da1;
@codeColor: #6ef5ea;
@bgColor: #151515;
@warning: #900;
@fontFamily: "mono";
@fontSize: 15px;

// mixins

.ninja() {display: none;}

.clearfix { // from http://freestyle-developments.co.uk/blog/?p=318
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// global styles

html {
   height: 100%;
}

body {
   background: @bgColor;
   margin: 0;
   height: 100%;
   color: @textColor;
   font-family: @fontFamily;
   font-size: @fontSize;
}

code {
   color: @codeColor;
}

ul, p {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   text-decoration: none;
   color: @linkColor;
}

input[type=text], select { // from http://css-tricks.com/snippets/css/glowing-blue-input-highlights/
   min-width: 200px;
   text-indent: 2px;
   transition: all 0.30s ease-in-out;
   outline: none;
   padding: 3px 0px 3px 3px;
   margin: 5px 1px 3px 0px;
   border: 1px solid #DDDDDD;
   &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgba(81, 203, 238, 1);
   }
}

.ninja {.ninja();}

// particular styles

.lightbg {
   background: lighten(@bgColor, 20%)
}

#main {
   // padding: 10px;
   text-align: center;
   // height: 100%;
   padding-top: 32px;
   &>div {
      padding: 10px;
   }
}

#loading, #error {
   text-align: center;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

#error {
   background: #d32f2f;
   color: lighten(@textColor, 40%);
   p::selection, code::selection {
      background: @linkColor;
   }
}

#titlebar {
   z-index: 100;
   padding: 0;
   margin: 0;
   top: 0;
   position: absolute;
   width: 100%;
   background: lighten(@bgColor, 10%);
   -webkit-app-region: drag;
   -webkit-user-select: none;
   height: 32px;
   text-align: center;
   line-height: 10px;
   #settings_button {
      position: absolute;
      height: inherit;
      width: 30px;
      cursor: default;
      -webkit-app-region: no-drag;
      -webkit-user-select: none;
      .settings_link {
         position: relative;
         top: 7px;
      }
   }
   #title {
      margin-top: 10px;
      cursor: default;
   }
   #window_buttons {
      -webkit-app-region: no-drag;
      cursor: default;
      position: absolute;
      right: 10px;
      top: 7px;
      #close:hover, #maximize:hover, #inspect:hover {
         color: #ce1d1d;
      }
   }
}

#sidebar {
   z-index: 50;
   padding: 0;
   position: absolute;
   top: 0;
   left: -250px;
   height: 100%;
   width: 250px;
   background: lighten(@bgColor, 20%);
}

#settings {
   padding: 10px;
   margin-top: 32px;
   form>div {
      margin-bottom: 5px;
      padding-bottom: 5px;
   }
   .quality {
      border-bottom: 1px solid #ccc;
   }
   .submit {
      min-width: 200px;
   }
}

.submit, .cancel {
   padding: 3px 5px;
   border: 1px #373737;
   color: white;
}

.submit {
   background: #2469b8;
}
.settings_saved {
   color: @codeColor;
   padding-top: 15px;
}

#streamer {
   position: absolute;
   top: 40%;
   transform: translateY(-50%);
   left: 45%;
   transform: translateX(-50%);
}

.fa-stop {color: @warning;}
.fa-play:hover {color: lighten(@linkColor, 10%);}
